ics.ics-container {display: none !important;}
ics.ics-title {display: none !important;}
ics.ics-message {display: none !important;}
ics.ics-actions {display: none !important;}
ics.ics-action-item {display: none !important;}
