div.ics-container {display: none !important;}
div.ics-title {display: none !important;}
div.ics-message {display: none !important;}
div.ics-actions {display: none !important;}
div.ics-action-item {display: none !important;}
