ics-container {display: none !important;}
ics-title {display: none !important;}
ics-message {display: none !important;}
ics-actions {display: none !important;}
ics-action-item {display: none !important;}
